.extractForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.extractForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}

.extractFormInput {
    height: 200px;
    width: 90%;
    background-color: #0D1117;
    border: 2px dashed #ccc;
    border-radius: 4px;
    padding: '20px';
    cursor: 'pointer';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.extractFormInput p {
    color: #c5c6c7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
}

.extractForm form input {
    cursor: pointer;
    width: 100%;
    height: 200px;
    opacity: 0;
}

.extractForm form button {
    width: fit-content;
    color: #3f48cc;
    font-weight: bolder;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}


.extractForm form button:hover {
    background-color: rgb(0, 0, 0, 0.8);
    color: #2c37a0;
}

.extractForm form button:active {
    background-color: rgb(0, 0, 0, 0.8);
    color: #1f2859;
    transform: scale(0.98);

}

.extractForm h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c5c6c7;
    text-decoration: underline;
}

.extractResultArea {
    width: 87%;
    background-color: #0D1117;
    border: 2px solid #ccc;
    border-radius: 4px;
    height: fit-content;
    padding: 20px;
    overflow-x: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#extractMessageTextAreaLabel {
    color: #c5c6c7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#extractImage {
    width: 70%;
}

#extractImageCloseButton {
    width: fit-content;
    color: #ffffff;
    font-weight: bolder;
    font-size: 15px;
    background-color: #ff0000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.center {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
}

.wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, rgb(0, 0, 0.8), #3f48cc);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
}

.wave:nth-child(2) {
    animation-delay: 0.1s;
}

.wave:nth-child(3) {
    animation-delay: 0.2s;
}

.wave:nth-child(4) {
    animation-delay: 0.3s;
}

.wave:nth-child(5) {
    animation-delay: 0.4s;
}

.wave:nth-child(6) {
    animation-delay: 0.5s;
}

.wave:nth-child(7) {
    animation-delay: 0.6s;
}

.wave:nth-child(8) {
    animation-delay: 0.7s;
}

.wave:nth-child(9) {
    animation-delay: 0.8s;
}

.wave:nth-child(10) {
    animation-delay: 0.9s;
}

@keyframes wave {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

.extractSuccess {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.extractSuccess div {
    height: fit-content;
    width: fit-content;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 2px solid rgb(0, 0, 0.8);
}

.extractSuccess div p {
    color: #c5c6c7;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.extractSuccess div button {
    color: white;
    font-weight: bold;
    background-color: #3f48cc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.extractFail {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.extractFail div {
    height: fit-content;
    width: fit-content;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 2px solid rgb(0, 0, 0.8);
}

.extractFail div p {
    color: #c5c6c7;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.extractFail div button {
    color: white;
    font-weight: bold;
    background-color: #ff0000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}